<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>

  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../../Content/app.css">
</head>
<body>

<header>


</header>

<main class="container">
  <h1 class="mb-5">Add Task</h1>
  <div class="row justify-content-lg-justify g-3">
    <form class="col-lg-6 col-md-10 col-sm-10">
      <div class="input-group mb-3">
        <span for="Name" class="input-group-text">New Task</span>
        <input type="text" class="form-control" name="fullname" id="fullname" aria-describedby="Full Name Input" aria-label="Full name" required>
      </div>
      <div class="input-group mb-3">


      <button id="addTaskButton" type="submit" class="btn btn-primary"><i class="fas fa-edit"></i> Submit</button>
      <button id="clearButton" type="reset" class="btn btn-danger"><i class="fa-solid fa-xmark"></i> Clear</button>
    </form>


  </div>
  <br>

</main>

<!-- Main Footer -->
<footer>
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <h4><i class="far fa-copyright fa-lg"></i> Copyright 2021.</h4>
    </div>
  </nav>
</footer>

<!-- Script Section-->
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="../../Scripts/namespace.js"></script>
<script src="../../Scripts/user.js"></script>
<script src="../../Scripts/app.js"></script>


</body>
</html>